<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ELO Organizer</title>
        <meta name="description" content="Free Elo calculation and organization tool" >
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" type="image/x-icon" href="fav.ico" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
        <script src="https://d3js.org/d3.v5.js"></script>
        <script src = "./script.js" async></script>

    
    
    
    
    <!-- support for this page -->

    </head>
    
    <body>
        
        <div id = "app">
<!--            Login Parts-->
                <div class = "login">
                    <div v-if= "!logged" class = "container-fluid">
                        <header>
                            <h3>Log In or Create Account</h3>
                            <p id = warning>THIS WEBSITE IS NOT SECURE, ONLY USE A PASSWORD THAT YOU WOULDN'T MIND GETTING STOLEN</p>
                            <div class="login">
                                 <div class = "row">
                                    <div id = "signupbar" class = "col-sm-12 col-md-4">
                                        <label for = "newuser" >New Username</label>
                                        <input id = "newuser" class="new-username"
                                           placeholder="new username"
                                           v-model="newusername">
                                        <br />
                                        <label for = "newpass">New Password</label>
                                        <input id = "newpass" class="new-password"
                                            type = "password"
                                           placeholder="new user password"
                                           v-model="confirmpassword">
                                        <br />
                                        <label for = "confpass">Confirm Password</label>
                                        
                                        
                                        <input id = "confpass" class="confirm-password"
                                            type = "password"
                                           placeholder="enter password again"
                                           v-model="newpassword">
                                        <br />
                                        <button id="sign-up" class="account-button" type="button" @click="signUp()">Sign Up</button>
                                    </div>

                                    <div id = "loginbar" class = "col-sm-12 col-md-4">
                                        <label for = "retuser">Returning Username</label>
                                        <input id = "retuser" class="old-username"
                                           placeholder="returning username"
                                           v-model="oldusername">
                                            <label for = "retpass">Returning Password</label>
                                        <input id = "retpass" class="oldpassword" type = "password"
                                           placeholder="returning user password"
                                           v-model="oldpassword">
                                        <br />
                                        <button id="sign-in" class="account-button" type="button" @click="signIn()">Sign In</button>
                                        
                                    </div>
                                </div> 
                                </div>
                        </header>
                        <hr>
                        <body>
                        </body>

                    </div>   
                    <div v-if = "logged">
                        Logged in as {{role}} {{loggedIn.name}} 

                        <button enable = "loggedIn.notifications !== 0" @click = "screen = 'notify'">Notifications ({{loggedIn.notifications}})</button>


                        <button id="sign-in" class="account-button" type="button" @click="signOut()">Sign Out</button>
                        <button v-if="role === 'admin'" @click="screen = 'admin'">App History</button>
                    </div>

                </div>
                    <button v-if = "screen !== 'project' && currentProject.id !== ''" @click = "screen = 'project'">Project Menu</button>
                    <button v-if = "screen !== 'main'" @click = "screen = 'main'">Project Select</button>
                    <button v-if = "screen !== 'help'" @click = "screen = 'help'">Help</button>
<!-- Project Select screen -->
                <div v-if = "screen === 'main'">
                    <h1>Projects</h1>
                    <button @click = "screen = 'create'">Create a new project!</button>
                    <div class = "container">
                        <div class = "row">
                           
                                <div v-for = "project in projects" v-if="allowView(project)" class = "col-sm-12 col-md-5 col-lg-3" id = "projectcard">
                                    <h1>{{project.name}}</h1>
                                    <p>{{project.owner}}</p>
                                    <button @click = "enterProject(project.id)">Enter</button>
                                </div>
                            
                        </div>
                    </div>
                </div>
<!-- Project Creation Screen-->
                <div v-if = "screen === 'create'">
                    <ul>
                        <li><label>Project Name</label> <input v-model = "newProjName" placeholder = "project name"></li>
                        
                        <li><label><abbr title= "Higher K values mean that the system changes faster.">K Value:</abbr></label> <input type = "number" v-model = "newK" placeholder = "k value"></li>
                        
                        <li><label>Who can view:</label> <select v-model = "newPrivacy">
                            <option><abbr title = "Only users you invite may view">private</abbr></option>
                            <option><abbr title = "Anybody may view">public</abbr></option>
                        </select></li>
                        
                        <li><label>Who can edit:</label> <select v-model = "newEditPrivs">
                            <option><abbr title = "Only you can edit">owner only</abbr></option>
                            <option><abbr title = "Anybody may edit when invited">private</abbr></option>
                            <option><abbr title = "Anybody may edit">public</abbr></option>
                        </select></li>
                        
                        <li><label>Will you be an agent in this system?</label> <select v-model = "newOwnerIsAgent">
                            <option><abbr title = "Only you can edit">No</abbr></option>
                            <option><abbr title = "Anybody may edit when invited">Yes</abbr></option>
                         </select></li>
                        

                        <button @click = "createProject()">Create</button>
                    </ul>
                </div>
    
<!-- Project Main Menu-->
            <div v-if= "screen === 'project'" >
                <div id = "title">
                    <h1>{{currentProject.name}}</h1>
                    <h4>Owner: {{currentProject.owner}}</h4>
                    <h4>K: {{currentProject.kval}}</h4>
                    <button v-if= "allowGame()" id = "gameButton" @click = "screen = 'game'">Add a Game</button>
                    <button v-if= "allowParticipate()" id = "gameButton" @click = "screen = 'participate'">Participate in a Game</button>
                    <button v-if= "allowEdit()" @click ="screen = 'projectOptions'">Options</button>
                </div>
                <div class = "container">
                    <div class = "row">
                        <div id = "projectcard" class = "col-sm-12 col-md-5">
                            <h2>Agents:</h2>
                            <button v-if= "allowEdit()" @click = "editAgentsOn = !editAgentsOn">Edit</button>
                            <ul  class = "leaderboard" v-if = "ff">
                                <li v-for = "agent in sortedAgents">{{agent.name}}: {{agent.elo}} <input type = "number" v-if= "editAgentsOn" v-model = "oldAgentElo"> <button  v-if= "editAgentsOn" @click = "changeElo(agent.id)">Change Elo</button></li>
                                
                                <li v-if = "editAgentsOn">
                                    <input placeholder = "new agent name" v-model = "newAgent">
                                    <select v-model = "newAgentUser">
                                        <option>Not a User</option>
                                        <option v-for = "user in userList">{{user.name}}</option>
                                    </select>
                                    <button @click = addAgent()>Add Agent</button></li>
                                
                            </ul>
                        </div>
                        
                        <div id = "projectcard" class = "col-sm-12 col-md-5">
                            <h2>Statistics:</h2>
                                <ul>
                                    <li>Spread: {{spread}}</li>
                                    <li>Average: {{avg}}</li>
                                    <li>Mode: {{mode}}</li>
                                </ul>
                        </div>
                        
                        <div id = "projectcard"  class = "col-sm-12 col-md-5">
                            <h2>Users:</h2>
                            <button v-if= "allowEdit()" @click = "editUsersOn = !editUsersOn">Add Users</button>
                            <ul class = "user List" v-if = "ff">
                                <li v-for = "user in userList">{{user.name}}</li>
                                
                                <li v-if = "editUsersOn">
                                    <input placeholder = "new user" v-model = "newUserName">
                                    <button @click = "addUser()">Add User</button></li>
                            </ul>
                        </div>

                        <div id = "projectcard" class = "col-sm-12 col-md-5">
                            <h2>Recent Games:</h2>
                            <ul>
                                <li v-for = "game in sortedGames" v-if = "game.project.id === currentProject.id">
                                    <h4>{{game.a1.name}}({{game.a1.elo}}) vs. {{game.a2.name}}({{game.a2.elo}})</h4>
                                    <a v-if = "game.result === 'a1'">Win for {{game.a1.name}} (+{{game.a1Change}})</a>
                                    <a v-if = "game.result === 'a2'">Win for {{game.a2.name}} (+{{game.a2Change}})</a>
                                    <a v-if = "game.result === 't'">Tie! ({{game.a1Change}})</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>    

            </div>
<!-- Enter New Game-->
            <div v-if= "screen === 'game'">
                
                <h1>Enter New Game</h1>
                <div class = "container">
                    <div class = "row">
                        <div id = "agent1" class = "col-sm-12 col-md-6">
                            <select v-model = "gameAgent1">
                                    <option>Select an Agent</option>
                                    <option v-for = "agent in agentList" :value= "agent">{{agent.name}}</option>
                            </select>
                            <p v-if = "gameAgent1 !== 'Select an Agent'">Agent Elo: {{gameAgent1.elo}}</p>
                            <p v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2"> Expected to win {{p1WinRate}} of games.</p>
                            <table v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2">
                                <tr>
                                    <th>Outcome  </th>
                                    <th>New Score</th>
                                </tr>
                                <tr>
                                    <td>Win</td>
                                    <td>{{p1WinChange}}</td>
                                </tr>
                                <tr>
                                    <td>Loss</td>
                                    <td>{{p1LossChange}}</td>
                                </tr>
                                <tr>
                                    <td>Tie</td>
                                    <td>{{p1TieChange}}</td>
                                </tr>
                            </table>

                        </div>
                        <div id = "agent2" class = "col-sm-12 col-md-6">
                             <select v-model = "gameAgent2">
                                    <option>Select an Agent</option>
                                    <option v-for = "agent in agentList" :value = "agent">{{agent.name}}</option>
                            </select>
                            <p v-if = "gameAgent2 !== 'Select an Agent'">Agent Elo: {{gameAgent2.elo}}</p>
                            <p v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2"> Expected to win {{p2WinRate}} of games.</p>
                            <table v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2">
                                <tr>
                                    <th>Outcome  </th>
                                    <th>New Score</th>
                                </tr>
                                <tr>
                                    <td>Win</td>
                                    <td>{{p2WinChange}}</td>
                                </tr>
                                <tr>
                                    <td>Loss</td>
                                    <td>{{p2LossChange}}</td>
                                </tr>
                                <tr>
                                    <td>Tie</td>
                                    <td>{{p2TieChange}}</td>
                                </tr>
                            </table>
                        </div >
                        <div id = "matchupgraphs" class = "col-12">
                        </div>
                        <div v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2" id = "input" class = "col-12"> 
                            <select v-model = "outcome">
                                <option :value = "'a1'">Win for {{gameAgent1.name}}</option>
                                <option :value = "'a2'">Win for {{gameAgent2.name}}</option>
                                <option :value = "'t'">Tie</option>
                            </select>
                            <button @click = "resolveOutcome()">Add Game</button>
                        </div>
                    </div>
                </div>

                
            </div>

<!-- Particpate in Game-->
            <div v-if= "screen === 'participate'">
                
                <h1>Enter New Game</h1>
                <label>(that you participated in)</label>
                <div class = "container">
                    <div class = "row">
                        <div id = "agent1" class = "col-sm-12 col-md-6">
                            {{playerAgent.name}}
                            <p v-if = "gameAgent1 !== 'Select an Agent'">Agent Elo: {{gameAgent1.elo}}</p>
                            <p v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2"> Expected to win {{p1WinRate}} of games.</p>
                            <table v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2">
                                <tr>
                                    <th>Outcome  </th>
                                    <th>New Score</th>
                                </tr>
                                <tr>
                                    <td>Win</td>
                                    <td>{{p1WinChange}}</td>
                                </tr>
                                <tr>
                                    <td>Loss</td>
                                    <td>{{p1LossChange}}</td>
                                </tr>
                                <tr>
                                    <td>Tie</td>
                                    <td>{{p1TieChange}}</td>
                                </tr>
                            </table>

                        </div>
                        <div id = "agent2" class = "col-sm-12 col-md-6">
                             <select v-model = "gameAgent2">
                                    <option>Select an Agent</option>
                                    <option v-for = "agent in agentList" v-if= "agent.user !== ''" :value = "agent">{{agent.name}}</option>
                            </select>
                            <p v-if = "gameAgent2 !== 'Select an Agent'">Agent Elo: {{gameAgent2.elo}}</p>
                            <p v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2"> Expected to win {{p2WinRate}} of games.</p>
                            <table v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2">
                                <tr>
                                    <th>Outcome</th>
                                    <th>New Score</th>
                                </tr>
                                <tr>
                                    <td>Win</td>
                                    <td>{{p2WinChange}}</td>
                                </tr>
                                <tr>
                                    <td>Loss</td>
                                    <td>{{p2LossChange}}</td>
                                </tr>
                                <tr>
                                    <td>Tie</td>
                                    <td>{{p2TieChange}}</td>
                                </tr>
                            </table>
                        </div >
                        <div id = "matchupgraphs" class = "col-12">
                        </div>
                        <div v-if= "gameAgent2 !== 'Select an Agent' && gameAgent1 !== 'Select an Agent' && gameAgent1 !== gameAgent2" id = "input" class = "col-12"> 
                            <select v-model = "outcome">
                                <option :value = "'a1'">Win for {{gameAgent1.name}}</option>
                                <option :value = "'a2'">Win for {{gameAgent2.name}}</option>
                                <option :value = "'t'">Tie</option>
                            </select>
                            <button @click = "sendOutcome()">Send Results to {{gameAgent2.user}}</button>
                        </div>
                    </div>
                </div>

                
            </div>
<!-- Project Options Menu-->
            <div v-if= "screen === 'projectOptions'">
                <h1>Options</h1>
                    <ul>
                        <li>Project Name: <input v-model = "editProjName" placeholder = "project name"></li>
                        
                        <li><abbr title= "Higher K values mean that the system changes faster.">K Value:</abbr> <input type = "number" v-model = "editK" placeholder = "k value"></li>
                        
                        <li>Who can view: <select v-model = "editPrivacy">
                            <option><abbr title = "Only users you invite may view">private</abbr></option>
                            <option><abbr title = "Anybody may view">public</abbr></option>
                        </select></li>
                        
                        <li>Who can edit: <select v-model = "editEditPrivs">
                            <option><abbr title = "Only you can edit">owner only</abbr></option>
                            <option><abbr title = "Anybody may edit when invited">private</abbr></option>
                            <option><abbr title = "Anybody may edit">public</abbr></option>
                        </select></li>
                        

                        <button @click = "editProject()">Save Changes</button>
                        
                        <p>If you'd just like a good demonstration of how a real system might work, you can type in a number of simulated games and the system will create them for you, although only the records of 10 games will be saved.
                        </p>
                        Number of Games: <input v-model = "numFabricate" type = "number">
                        <button @click = "fabricateDataset()">Fabricate Dataset</button>
                    </ul>
            </div>

<!-- Notifications View-->
            <div v-if= "screen === 'notify'">
                <h1>Notifications</h1>
                <div id = "projectcard" v-for ="notification in notifications">
                    {{notification.message}}
                    <p>System: {{notification.project.name}}</p>
                    <p v-if = "notification.result === 'a2'">You won and gained {{notification.a2Change}} Elo!</p>
                    <p v-if = "notification.result === 'a1'">You lost and degraded {{notification.a1Change}} Elo!</p>
                    <p v-if = "notification.result === 't'">You tied and changed by {{notification.a2Change}} Elo!</p>
                    <button @click = "rejectResults(notification)">No</button>
                    <button @click = "acceptResults(notification)">Yes</button>
                </div>
                
            </div>
            
<!-- Help View -->
            <div id = "help" v-if= "screen === 'help'">
                <h1>Ryan Ferner's Elo Ranking System (System)</h1>
                <h3>What is this?</h3>
                <p>I'm glad you asked!  Elo is a system by which to rank agents (players) in a zero-sum game.  It is analogous to 'power rankings' in the NCAA. Since it's pretty difficult to tack a perfectly objective measurement onto something like skill, you can infer from an agent's wins and losses about how good they are compared to the rest of the agents.  This website can be used by anyone to create such a system.</p>
                <h3>How to I use this?</h3>
                <p>It's simple! First, you need to create an account with the bar above.  Remember that this website isn't super secure, so don't use an important password. When you aren't logged in, you can only view public projects and can't make any edits. Once you're logged in, you can:
                </p>
                <ul>
                    <li>Create a project (there's a pretty conspicuous button for it on the project select screen)</li>
                    <li>Be added to a friend's project (more on that later)</li>
                    <li>Edit projects that other users have chosen to keep open</li>
                </ul>
                <h3>What can I do with a project?</h3>
                <p>First, you need to choose your settings. You can choose whatever name you'd like. The K-value is just a measure of how volatile your system is. Generally, 30 is used for low-level players and 15 is used for players at the very top. The privacy settings choose both who can view the project, as well as who can make edits to it. You can also choose if you would like to be an agent (player) in the system, but if not, you can always add yourself later.  You can modify these settings in the project options.</p>
                <p>Next, you need to populate your project with some agents by clicking the "edit" button on the agents tab. An agent can either be a user or not, but if they're a user, you need to first add them to your project under the "user" list by typing in their name. If you have permission to edit the project, you will be able to edit the users' elo (you may need to refresh the page to see the changes).  Once you have at least two agents, you can input the results of games by clicking the "add a game" button on the project's menu. Once you're on that menu, you can choose two agents and input the result of a game between them and see what sort of changes would result.  Once you're ready, you can add the game and the resulting changes will be calculated and added to the system.</p>
                <p>If an agent is also a user, they can register games by themselves with other users by going to the "Participate in a Game" selection. By registering a game with another user this way, the other user will get a notification (found under the notifications tab) that they can use to verify the game as valid.  Once both players have validated the game, it is added as normal.</p>
                <p>If you'd like a quick demonstration of how it may work in the real world, you can go to your project's options and have your computer simulate up to 99 games with your current agents.  As is the case in reality, agents with higher Elo are more likely to continue to accumulate Elo, while agents with lower Elo tend to continue losing Elo.</p>
                
            </div>
<!--    Admin View-->
            <div id = "help" v-if= "screen === 'admin'">
                <div v-for = "event in hist">
                    {{event.mes}} at {{event.time}}
                </div>
            </div>
            
        </div>
    </body>
    <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    </footer>  
</html>
