.leaderboard{
    list-style-type: decimal;
}
#results{
    object-position: center; 
}

#app {
/*    font-size: 1%;*/
/*    hopefully this will be relatively visable */
    padding: 2%;
    background-color:lightseagreen;  
    height: 90%;
	}
.login{
    background-color:lightgoldenrodyellow;
}
html{
    background-color: lightgoldenrodyellow;
}
footer{
    background-color:lightgoldenrodyellow;
    padding:2%;
    
}

#agent1{
    background-color: skyblue;
    padding: 2%;
    
}
#agent2{
    background-color: palevioletred;
    padding: 2%
    
}

#projectcard{
    background-color: lightgoldenrodyellow;
    margin: 1%;
    padding: .5%;
}

table {
    border-spacing: 5px;
}

#help{
    background-color: lightgoldenrodyellow;
    margin: 1%;
    padding: .5%;
}